################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs/
*.vsidx

*.db-shm
*.db-wal
*.opendb

*/bin/*
*/bin-int/*
/OGLE/vendor/GLAD/bin-int/Debug-windows-x86_64/Glad
/OGLE/vendor/GLFW/bin-int/Debug-windows-x86_64/GLFW/GLFW.tlog
/OGLE/vendor/GLFW/bin-int/Debug-windows-x86_64/GLFW
