################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs/
*.vsidx

*.db-shm
*.db-wal
*.opendb

/bin-int/Debug-windows-x86_64
/bin/Debug-windows-x86_64
